<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HtmlAgilityPack" version="1.4.9" targetFramework="net45" />
  <package id="VSSDK.DTE" version="7.0.4" targetFramework="net45" />
  <package id="VSSDK.IDE" version="7.0.4" targetFramework="net45" />
  <package id="VSSDK.IDE.14" version="14.0.4-preview" targetFramework="net45" />
  <package id="VSSDK.TemplateWizardInterface" version="14.0.4-preview" targetFramework="net45" />
  <package id="VSSDK.TemplateWizardInterface.14" version="14.0.4-preview" targetFramework="net45" />
</packages>